// import variables
@import 'variables';

// import fonts
@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/avenir-light.otf");
}

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura-medium.ttf");
}
