@import 'variables';

.nav-desktop {
  .header {
    line-height: 1.5;
    height: 25vh;
    text-align: center;
    padding-top: 15px;
    min-height: 144px;
    h1 {
      font-size: 28px;
      margin-bottom: -2px;
    }
    .searchbar {
      width: 80%;
      height: 45px;
      display: block;
      margin: 0 auto;
      background-color: $black;
      border: 1px solid $black;
      border-radius: 40px;
      padding-right: 10px;
      img {
        height: 25px;
        width: 25px;
        float: right;
        margin-top: 7px;
      }
    }
  }
  li {
    height: 12.5vh;
    line-height: 12.5vh;
    padding-left: 20px;
    font-size: 18px;
    min-height: 72px;
    img {
      height: 50px;
      width: 50px;
      margin-right: 10px;
      margin-top: -8px;
    }
    &:nth-child(odd) {
      background-color: $gray;
    }
    &:nth-child(even) {
      background-color: $black;
    }
  }
}

@media (max-height: 580px) {
  .nav-desktop {
    li {
      line-height: 72px;
    }
  }
}

@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
  .menu-open {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
}


// *****************
// Mobile nav styles
// *****************

.sidenav {
  // height: 100%;
  max-height: 100vh;
  overflow: hidden;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  // overflow-x: hidden;
  transition: 0.5s;
  background-color: $gray;
  .nav-mobile {
    padding-top: 8vh;
    li {
      height: 15.3vh;
      line-height: 15.3vh;
      padding-left: 20px;
      font-size: 18px;
      img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        margin-top: -8px;
      }
      &:nth-child(odd) {
        background-color: $gray;
      }
      &:nth-child(even) {
        background-color: $black;
      }
    }
  }
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: $orange;
  text-decoration: none;
  font-family: 'Futura';
  &:hover {
    text-decoration: none;
  }
}

#main {
  transition: margin-left .5s;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu-open {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 100;
  .hamburger {
      width: 35px;
      height: 5px;
      background-color: $gray;
      margin: 6px 0;
  }
}
